<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>javapackage.LoginServlet</servlet-class>
    <init-param>
      <param-name>default_user</param-name>
      <param-value>Caizhen</param-value>
    </init-param>
    <init-param>
      <param-name>default_password</param-name>
      <param-value>caizhen</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>JournalServlet</servlet-name>
    <servlet-class>javapackage.JournalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>javapackage.FriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>javapackage.MessagesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalServlet</servlet-name>
    <servlet-class>javapackage.PersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JournalServlet</servlet-name>
    <url-pattern>/journalaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/friendaction</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/topfriendaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/messageaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalServlet</servlet-name>
    <url-pattern>/personalaction</url-pattern>
  </servlet-mapping>
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>